/* Theme base styles */

/* Tools
Any animations, or functions used throughout the project.
Note: _macros.css needs to be imported into each stylesheet where macros are used and not included here
*/
:root {
  --primary-color: #F18F04;
  --secondary-color: #1F140F;
  --accent-color: #F18F04;
  --text-color: #1F140F;
  --heading-color: #171717;
  --font-family-base: 'BwModelica', 'Roboto', sans-serif;
  --font-size-base: 16px;
  --font-size-disclaimer:10px;
  --font-size-heading: clamp(30px, 1.9vw, 40px);
  --font-size-heading-big: clamp(1.75rem, 2.5vw, 2.2rem);
  --font-size-subheading: 40px;
  --letter-spacing-base: 5px;
  --font-weight-base: 400;
  --font-weight-thin: 200;
  --font-weight-heading: 500;
  --font-weight-heading-black: 700;
  --padding-btn: 10px 20px;
}

/* Generic
This is where reset, normalize & box-sizing styles go.
*/

{% include './generic/_fonts.css' %}
{% include './generic/_reset.css' %}
{% include './generic/_normalize.css' %}

/* Objects
Non-cosmetic design patterns including grid and layout classes)
*/

{% include './objects/_layout.css' %}
{% include './objects/_containers-dnd.css' %}

/* Elements
Base HTML elements are styled in this section (<body>, <h1>, <a>, <p>, <button> etc.)
*/

{% include './elements/_typography.css' %}
{% include './elements/_buttons.css' %}
{% include './elements/_forms.css' %}
{% include './elements/_tables.css' %}

/* Components
Specific pieces of UI that are stylized. Typically used for global partial styling
*/

{% include './components/_header.css' %}
{% include './components/_footer.css' %}
{% include './components/_default-modules.css' %}
{% include './components/_inversion.css' %}
{% include './components/_amenidades.css' %}
{% include './components/_prototipos.css' %}
{% include './components/_ubicacion.css' %}
{% include './components/_card-icono.css' %}
{% include './components/_certificacion.css' %}

/* Utilities
Helper classes with ability to override anything that comes before it
*/

{% include './utilities/_helper.css' %}
