<!--
  templateType: page
  isAvailableForNewContent: true
  label: Aviso de Privacidad
  screenshotPath: ../images/template-previews/aviso-privacidad.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
{% dnd_area "dnd_area"
  label="Contenido de la página",
  class="body-container body-container--aviso-privacidad"
%}
  {% dnd_section background_color="#ffffff" %}
    {% dnd_module
      path="../modules/aviso-privacidad",
      label="Aviso de Privacidad",
      offset=0, width=12
    %}
    {% end_dnd_module %}
  {% end_dnd_section %}
{% end_dnd_area %}
{% endblock body %}
